.hide {
    display: none;
}

html {
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    background-color: rgb(16, 143, 105);
    text-align: center;
}

.correct {
    color: green;
    font-weight: bolder;
}

.incorrect {
    color: rgb(151, 0, 0);
    font-weight: bolder;
}

h1 {
    font-size: 80px;
    color:rgb(143, 42, 138);
    font-weight: bolder;
}

body {
    font-size:25px;
}

button {
    font-size: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: rgb(143, 42, 138);
    color: rgb(255, 255, 255);
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 8px;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:hover {
    background-color: rgb(214, 43, 206);
    color: white;
  }

  input {
    width: 300px;
    height: 150px;
    font-size: 30px;
  }